<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style type="text/css">
      #main-chart {
        display: block;
      }
      #tab1 {
        display: block;
      }
      .he-line {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style> 
  <link rel="icon" type="image/x-icon" href="/danmuG/favicon.ico"/>
  <script crossorigin="anonymous" integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg==" src="https://lib.baomitu.com/vue/2.6.14/vue.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
  <link crossorigin="anonymous" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" href="https://lib.baomitu.com/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
  <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
  {{extra_head}}
  </head>
  <body style="margin:0;padding:0">
    <div id="app">
      <div class="flex flex-col">
        <div class="flex-initial flex flex-row justify-center pt-2 pl-2">
          <!-- <div class="flex-none w-28 items-center pt-1"><h1 class="font-extrabold text-2xl  text-gray-900">图表部分</h1></div> -->
          <!-- <div class="flex-grow items-center">
            <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded-full" id='bt1'>
            -
            </button>
          </div> -->
        </div>
        <div class="px-2" style="width:1900px;height:900px" id="main-chart">
          {{main_chart_div}}
        </div>
        <div class="flex-initial flex flex-row justify-center pt-2 pl-2 mt-8 ml-2 mb-2">
          <div class="flex-none w-40 items-center pt-1" id='pata-n-ao'><h1 class="font-extrabold text-2xl text-gray-900">高能时间统计</h1></div>
          <div class="flex-grow items-center">
            <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded-full" @click="bt2clicked">
            {{button_str}}
            </button>
          </div>
        </div>
        <div id="tab1" class="ml-2">
          <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 align-middle inline-block sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          实际发生时间
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          参考时间
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          弹幕数量
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          弹幕内容
                        </th>
                      </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                      <tr v-for="(obj, i) in trs_data_zfill">
                        <td class="px-6 py-4 whitespace-nowrap">
                          <div class="text-sm text-gray-500">
                            {{obj[1]}}
                          </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <div class="flex items-center">
                              <div class="text-sm font-medium text-gray-900">
                                {{obj[0]}}
                              </div>
                          </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                            {{obj[2]}}
                          </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <div class="text-sm text-gray-500">
                            {{obj[3]}}
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-8 ml-3 mb-8 tracking-wide text-gray-800  mx-auto px-4">
          <div class='relative m-0 shadow-lg flex bg-white max-w-full rounded'>
            <div class='flex-1 card-block relative '>
              <div class="p-6">
                <h4 class='font-medium text-2xl mb-3'>秦国今日高能时刻&ensp;dark-sword-22.github.io<br></h4>
                <div v-for="(item, i) in tag_data_zfill" class="leading-normal he-line">
                  <span class="text-blue-500"><a href="https://bilibili.com/">{{item[1][0]}}#{{item[1][1]}}:{{item[1][2]}}</a></span>
                  <span class="ml-1 font-normal">
                    <span v-for="(tag, i) in item[0].split(' ')" class="bg-gray-100 rounded ml-2">&ensp;{{tag}}&ensp;</span>
                  </span>
                </div>
                <div class="text-sm text-grey block mt-6 font-semibold flex w-full">
                  <div class="flex-none">本评论由弹幕G重伤倒地是否做错了什么自动生成&ensp;(<ゝω·)☆</div>
                  <div class="flex-grow flex flex-row-reverse">
                    <div><input class="pl-12 pr-6 py-3 rounded outline-none w-48 focus:ring focus:border-blue-300" type="text" placeholder="Fix: default +0s" v-model="prefix"></div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      {{tag_res_data}}
      let tag_data = JSON.parse(jsonStr)
      {{trs_data}}
      let trs_data = JSON.parse(trsJsonStr)
    </script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!',
          tb_display: "block",
          button_str: "-",
          tag_data: tag_data,
          trs_data: trs_data,
          prefix: "",
        },
        methods: {
          bt2clicked() {
            if (this.tb_display === 'block') {
              document.getElementById('tab1').style.display = "none";
              this.tb_display = "none";
              this.button_str = '+';
            } else {
              document.getElementById('tab1').style.display = "block";
              this.tb_display = "block";
              this.button_str = '-';
            }
          },
          pad(num, size) {
              num = num.toString();
              while (num.length < size) num = "0" + num;
              return num;
          }
        },
        computed: {
          tag_data_zfill() {
            let lamb = (tuple) => {
              let orn_seconds = tuple[1][0] * 3600 + tuple[1][1] * 60 + tuple[1][2] + this.prefix_int
              let d1 = parseInt(orn_seconds/3600) + 1
              let d2 = parseInt((orn_seconds%3600)/60)
              let d3 = parseInt(orn_seconds%60)
              return [tuple[0], [d1.toString(), this.pad(d2, 2), this.pad(d3, 2)]]
            }
            return this.tag_data.map(lamb)
          },
          trs_data_zfill() {
            let lamb = (tuple) => {
              let orn_seconds = parseInt(tuple[0].substring(0,2)) * 3600 + parseInt(tuple[0].substring(3,5)) * 60 + parseInt(tuple[0].substring(7,9)) + this.prefix_int
              let d1 = parseInt(orn_seconds/3600)
              let d2 = parseInt((orn_seconds%3600)/60)
              let d3 = parseInt(orn_seconds%60)
              return [this.pad(d1, 2)+':'+this.pad(d2, 2)+':'+this.pad(d3, 2),tuple[1],tuple[2],tuple[3]]
            }
            return this.trs_data.map(lamb)
          },
          prefix_int(){
            if (this.prefix === '') {
              return 0
            } else {
              return parseInt(this.prefix)
            }
          }
        }
      })
    </script>
    {{extra_scripts}}
  </body>
</html>
